html {
    background-color: #222;
    font-family: Roboto Mono, monospace;
    font-size: max(0.85vh, 1.05vw);
    color: #ddd;
}

#home-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: max(6.125vh, 7vw);
    height: max(2.625vh, 3vw);
    border-right: #666 1px solid;
    border-bottom: #666 1px solid;
    border-bottom-right-radius: max(0.66vh, 0.75vw);
    font-size: max(1.5vh, 1.5vw);
    padding: max(0.66vh, 0.75vw);
    background-color: #393939;
}

#home {
    width: fit-content;
    margin: auto;
    transform: translate(-0.3vw, 0.3vw);
    font-weight: bolder;
}

#home-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    z-index: 1;
}

header {
    font-weight: bolder;
    font-size: max(1.31vh, 1.5vw);
    margin-top: min(-1.4vh, -1.6vw);
    margin-bottom: min(-0.7vh, -0.8vw);
    text-align: center;
}

.kb-wrapper {
    text-align: center;
    width: max(35vh, 40vw);
    height: max(9.5vh, 11vw);
    background-color: #444;
    border-radius: max(0.55vh, 0.65vw);
    padding: max(0.5vh, 0.3vw);
    font-size: max(1.61vh, 1.84vw);
    margin: auto;
    overflow: hidden;
}

#keyboard {
    display: grid;
    gap: max(0.17vh, 0.2vw) max(0.17vh, 0.2vw);
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        '. . . . . e . . . . .'
        '. . . . . e . . . . .'
        '. . . . . e . . . . .'
        'a a . . . e . . . o o';
    
    width: 100%;
    height: 100%;
}

.e {
    grid-area: e;
}

.a {
    grid-area: a;
}

.o {
    grid-area: o;
}

.k {
    background-color: rgb(175, 175, 175);
    border: 1px #444 solid;
    border-radius: max(0.35vh, 0.4vw);
    overflow: hidden;
    line-height: max(1.75vh, 2vw);
    user-select: none;
}

article {
    background-color: #333;
    width: 90vw;
    padding: 1vw;
    border-radius: max(1.31vh, 1.5vw);
    margin: 1vw auto auto auto;
}

h2 {
    font-size: max(1.75vh, 2vw);
    font-weight: bolder;
    text-align: center;
    margin: max(0.875vh, 1vw) auto max(0.875vh, 1vw) auto;
}

h1,
h2 {
    text-decoration: #777 underline 1px;
}

a:link {
    color: #4C72CF;
}

a:visited {
    color: #7E4DCF;
}

code {
    background-color: #444;
    padding: max(0.0875vh, 0.1vw);
}

section {
    width: 88%;
    margin: auto;
    line-height: 1.5;
    border: #444 2px solid;
    border-radius: max(0.65vh, 0.75vw);
    padding: max(0.25vh, 0.75vw) max(1vh, 0.75vw) max(0.25vh, 0.75vw) max(1vh, 0.75vw);
    background-color: #393939;
}

#stats-wrapper {
    width: 88%;
    margin: auto;
    background-color: #393939;
    border: #444 2px solid;
    border-radius: max(0.65vh, 0.75vw);
    padding: 0.75vw;
    font-size: max(0.75vh, 1.05vw);
    text-shadow: #ddd 0 0 1px;
}

.stats {
    width: fit-content;
    margin: 0.5vw;
}

#load-overlay {
    display: block;
}