#page-wrapper {
    width: 50vw;
    height: 10vw;
    background-color: red;
    margin: auto;
    margin-top: 5vw;
}

#search-wrapper {
    width: fit-content;
    height: fit-content;
    margin: auto;
}

#search-results-wrapper {
    background-color: red;
}

#search-results {
    
}

.search-result {
    background-color: white;
    margin: 3px;
}